#main-navbar {
	background-color: blue;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

#main-navbar ul li {
	float: left;
}

#main-navbar ul li a {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}

#main-navbar ul li a:hover {
	background-color: #000;
}

#navbar-container {
	float: left;
	left: 40%;
	position: relative;
	display: block;
}

#sidebar {
	position: fixed;
	right: 0%;
	background-color: red;
	height: 100%;
	width: 20%;
}

#sidebar-container ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

#sidebar-container ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 15px 0;
}

#sidebar ul li a:hover {
	background-color: #000;
}

#onpage {
	text-decoration: underline overline;
}